* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.block {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.text {
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    width: 500px;
    display: block;
}

.info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid green;
    padding: 15px;
    background-color: rgba(192, 188, 182, 0.815);
    border-radius: 10px;
}